{% extends 'base3.html' %}
{% block content %}
	<script type="text/javascript">
		function validation()
		{
			var alpha=/^[a-zA-Z]+$/;
			var num=/^[0-9]+$/;
			
			var email=/^[\w\-\.\+]+\@[a-z A-Z 0-9\.\-]+\.[a-z A-Z 0-9]{2,4}$/;
			var details=document.getElementById("details");
			if(details.value.length==0)
				{
					alert("please enter details");
					return false;
				}
			else
				{
					return true;			
				}
		}
	</script>
	
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									
									<h3>addtracking details</h3>
								</div>
								<form method="post" action="{% url 'addtrackingDetailsAction' %}">
									{% csrf_token %}
			
								{% for v in data %}
								<input type="hidden" name="uid" value="{{v.id}}">
									<div class="row">
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>orderid<span>*</span></label>
												{{v.id}}
								{% endfor %} 				
											</div>
										</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group message">
												<label>details<span>*</span></label>
												<textarea name="details" class="form-control" rows="10" cols="20" id="details"></textarea>
											</div>
										</div>
										
										<div class="col-12">
											<div class="form-group button">
												<button type="submit" class="btn" onclick="return validation"()/>addedtrackingdetails</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="single-head">
								<div class="single-info">
									<i class="fa fa-phone"></i>
									<h4 class="title">Call us Now:</h4>
									<ul>
										<li>+123 456-789-1120</li>
										<li>+522 672-452-1120</li>
									</ul>
								</div>
								<div class="single-info">
									<i class="fa fa-envelope-open"></i>
									<h4 class="title">Email:</h4>
									<ul>
										<li><a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a></li>
										<li><a href="mailto:info@yourwebsite.com">support@yourwebsite.com</a></li>
									</ul>
								</div>
								<div class="single-info">
									<i class="fa fa-location-arrow"></i>
									<h4 class="title">Our Address:</h4>
									<ul>
										<li>KA-62/1, Travel Agency, 45 Grand Central Terminal, New York.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->
	{% endblock %}