{% extends 'base4.html' %}
{% block content %}
	<!-- Start Shop Blog  -->
	<section class="shop-blog section">
		<div class="container">
			<div class="row">
				<div class="col-12" >
					<div class="section-title">
						<h3>welcome{{v.username}}</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12" style="margin:0 auto">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog">
						
						<div class="content">
							
							<img src="\static\eshop\eshop\images\product-1.jpg" height="5px" width="5px" alt="#">
							<a href="{% url 'viewuserProduct' %}"><span style="font-size:20px">ViewProduct</span></a>
							
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
				<div class="col-lg-4 col-md-6 col-12" style="margin:0 auto">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog">
						
						<div class="content">
							<i class="ti-tag"></i>
							<img src="\static\eshop\eshop\images\product-3.jpg" height="5px" width="5px" alt="#">
							<a href="{% url 'viewOrders' %}"><span style="font-size:20px">viewOrders</a>
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
				<div class="col-lg-4 col-md-6 col-12" style="margin:0 auto">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog">
						
						<div class="content">
							<img src="\static\eshop\eshop\images\product-2.jpg" height="5px" width="5px" alt="#">
							<a href="{% url 'searchProduct' %}"><span style="font-size:20px">searchProduct</a>
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
				<div class="col-lg-4 col-md-6 col-12" style="margin:0 auto">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog">
						
						<div class="content">
							
							<img src="\static\eshop\eshop\images\product-4.jpg" height="5px" width="5px" alt="#">
							<a href="{% url 'searchproductbycategoryandprice' %}"><span style="font-size:20px">searchproductbycategoryandprice</a>
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
	
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog">
						
						<div class="content">
							<img src="\static\eshop\eshop\images\product-2.jpg" height="5px" width="5px" alt="#">
							<a href="{% url 'updateProfile' %}"><span style="font-size:20px">updateProfile</a>
							
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<!-- Start Single Blog  -->
					<div class="shop-single-blog">
						
						<div class="content">
							<img src="\static\eshop\eshop\images\product-4.jpg" height="5px" width="5px" alt="#">
							<a href="{% url 'logout' %}"><span style="font-size:20px">logout</a>
							
						</div>
					</div>
					<!-- End Single Blog  -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Blog  -->
	{% endblock %}
		{% for v in data %}
		<h3>welcome{{v.username}}</h3>
		{% endfor %}
		<ul>
			<li><a href="{% url 'viewuserProduct' %}">ViewuserProduct</a></li>
			<li><a href="{% url 'viewOrders' %}">viewOrders</a></li>
			<li><a href="{% url 'searchProduct' %}">searchProduct</a></li>
			<li><a href="{% url 'searchproductbycategoryandprice' %}">searchproductbycategoryandprice</a></li>
			<li><a href="{% url 'updateProfile' %}">updateProfile</a></li>
			<li><a href="{% url 'updateProfile' %}">updateProfile</a></li>
			<li><a href="{% url 'logout' %}">logout</a></li>
		</ul>

